<template>
    <div class="container">
        <div class="row" v-if="isAuth">
            <h3>Campeonato Brasileiro - Série A - 2016</h3>
            <div >
                <router-link :to="{name: 'times'}">Classificação</router-link>
                <router-link :to="{name: 'jogo'}">Novo jogo</router-link>
                <router-link :to="{name: 'zona'}">Ver zona</router-link>
                <span class="pull-right">Olá {{user.name}}! <router-link :to="{name: 'logout'}">Sair</router-link></span>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <router-view></router-view>
    </div>
</template>
<script type="text/javascript">
    import store from '../store';

    export default {
        created(){
            if (this.isAuth) {
                store.dispatch('load-times');
            }
        },
        computed: {
            isAuth(){
                return store.state.auth.isAuth;
            },
            user(){
                return store.state.auth.user ? store.state.auth.user : {'name':'Visitante'};
            }
        },
        watch:{
            isAuth(value){
                if (value) {
                    store.dispatch('load-times');
                }
            }
        }
    };
</script>