<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <div class="alert alert-danger" v-if="error.error">{{error.message}}</div>
                        <form class="form-horizontal" @submit.prevent="login()" method="post">
                            <div class="form-group">
                                <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control"
                                           name="email" required autofocus v-model="user.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control"
                                           name="password" required v-model="user.password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    import store from '../store';

    export default {
        data(){
            return {
                user: {
                    email: '',
                    password: ''
                },
                error: {
                    error: false,
                    message: ''
                }
            }
        },
        methods: {
            login(){
                store.dispatch('login', this.user).then((response) => {
                    this.$router.push({name: 'times'});
                }).catch((responseError) => {
                    this.error.error = true;
                    if (responseError.status === 400) {
                        this.error.message = responseError.data.error;
                    } else {
                        this.error.message = 'Falha na autenticação';
                    }
                });
            }
        }
    }
</script>