<template>
    <div class="container">
        <div class="row text-center">
            Efetuando logout...
        </div>
    </div>
</template>

<script type="text/javascript">
    import store from '../store';

    export default {
        mounted(){
            setTimeout(() => {
                this.logout();
            },2000);
        },
        methods: {
            logout(){
                store.dispatch('logout');
                this.$router.push({name: 'login'});
            }
        }
    }
</script>