<template>
    <div>
        <h3>Times classificados</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="time in timesLibertadores">
                <td>
                    <img :src="time.escudo" style="height: 30px; width: 30px;">
                    <strong>{{time.nome}}</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <h3>Times desclassificados</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="time in timesRebaixados">
                <td>
                    <img :src="time.escudo" style="height: 30px; width: 30px;">
                    <strong>{{time.nome}}</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script type="text/javascript">
    import {Time} from '../time';
    import _ from 'lodash';
    import event from '../event';
    import  store from '../store';

    export default {
        computed: {
            timesLibertadores(){
                return store.getters.timesLibertadores;
            },
            timesRebaixados(){
                return store.getters.timesRebaixados;
            }
        }

    };
</script>